.loading-word {
  font-family: monospace;
  text-shadow: 0 0 10px rgba(50, 255, 50, 0.5), 0 0 5px rgba(100, 255, 100, 0.5);
  transition: opacity 500ms; }
  .loading-word span {
    display: inline-block;
    transition: transform 500ms; }
  .loading-word .letter {
    transform: translateX(0) scale(1); }
  .loading-word .glitch {
    transform: translateX(100%) scale(0.9); }
