0.0.0.0:2019

root /web

gzip

header /static {
  Cache-Control "public,max-age=31536000,immutable"
}
header /admin/static {
  Cache-Control "public,max-age=31536000,immutable"
}

proxy / server:8080 {
  header_downstream Cache-Control "no-cache"
  except /admin /static /robots.txt /favicon.ico
}
