0.0.0.0:2019/admin {
  gzip
  root /admin-ui
}

0.0.0.0:2019/static {
  gzip
  header / Cache-Control "public,max-age=31536000,immutable"
  root /assets
}

0.0.0.0:2019 {
  header / Cache-Control "no-cache"
  proxy / server:8080
}
