* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "jaf-bernina-sans", "Open Sans", "Segoe UI", "Helvetica Neue",
    "Noto Sans", "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 180ch) {  
  body {
    padding-right: calc(100vw - 120ch);
  }
}

.main {
  max-width: 58rem;
  max-width: 100ch;
  margin: 0 auto;
  line-height: 1.375rem;
}

h1,
h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.75rem;
  margin: 0 0 1.375rem;
}

p {
  margin: 0 0 1.375rem;
}
pre,
ul {
  margin: 0.6875rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 11%,
    rgba(0, 0, 0, 0.3) 11%,
    rgba(0, 0, 0, 0.3) 16%,
    rgba(0, 0, 0, 0) 16%
  );
}
p > code {
  font-size: 1rem;
  /* Baseline fix */
  line-height: 0.999rem;
}

.item {
  padding: 0 0.5rem;
}
.item:after {
  display: block;
  content: "";
  width: 100%;
  margin: 0 auto 2.75rem;
  box-shadow: 0px 1px 8px -4px rgba(0, 0, 0, 0.5);
}
.external {
  color: #496b51;
}
.external:visited {
  color: #354238;
}

blockquote {
  font-size: 1.15rem;
  line-height: 1.375rem;
  border: 1px solid rgba(222, 226, 230, 0.54);
  border-left: 0.5rem solid rgba(0, 123, 255, 0.54);
  color: #6c757d;
  font-style: italic;
  margin: 1.375rem auto;
  max-width: 75%;
  padding: calc(4.125rem - 2px) 1.375rem 1.375rem 4.8125rem;
  position: relative;
  width: 100%;
}
blockquote:before {
  font-size: 6.875rem;
  color: rgba(0, 123, 255, 0.54);
  content: "\201C";
  font-family: "Noto Serif", "Georgia", "Times New Roman", "Times", serif;
  font-size: 5.5rem;
  height: 3.75rem;
  left: 0.9375rem;
  line-height: 6.875rem;
  max-width: 3.75rem;
  position: absolute;
  text-align: inherit;
  top: 1.375rem;
  width: 100%;
}
blockquote:after {
  content: "";
}

/** Search */

header {
  height: 5.5rem;
  margin-bottom: 1.375rem;
  width: 100%;
  display: flex;
  place-content: space-between;
  align-items: center;
  max-width: 58rem;
  max-width: 100ch;
  margin: 0 auto;
  padding: 0 0.5rem;
}
header > form {
  width: 60%;
}

header > h1 {
  margin: 0;
  color: #b2bfe7;
  font-weight: 400;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #222;
  fill: #222;
}

form > div {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 5px;
}

form .icon {
  font-size: 1.125rem;
  margin: 0 6px 0 10px;
}

form > div .clearButton {
  color: #4975f7;
  font-size: 18px;
  padding: 6px;
  margin: 0 6px 0 2px;
  cursor: pointer;
  visibility: hidden;
}

form > div .clearButton:hover {
  color: #1850f5;
}

@media all and (-ms-high-contrast: none) {
  form > div .clearButton {
    display: none;
  }
}

form > div input[type="text"] {
  -ms-flex-positive: 999999;
  flex-grow: 999999;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 90px;
  flex-basis: 90px;
  width: 60%;
  height: 2.25rem;
  padding-left: 0.1875rem;
  border: none;
  box-shadow: none;
  outline: none;
}

form > div input[type="submit"] {
  color: white;
  background-color: #4975f7;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 9999;
  flex-shrink: 9999;
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  height: 2.25rem;
  padding: 0.5rem 0.625rem 0.375rem;
  border: none;
  cursor: pointer;
}

form > div input[type="submit"]:hover {
  background-color: #1850f5;
}
